/* -------------- COLOR SCHEME --------------- */
:root {
  --color-primary: #226ba3;
  --color-secondary: #913639;
  --color-accent: #e9c429;

  /* Add a grey scale Colors */
  --color-mygrey-0: lab(100% 0 0);
  --color-mygrey-5: lab(95% 0 0);
  --color-mygrey-10: lab(90% 0 0);
  --color-mygrey-20: lab(80% 0 0);
  --color-mygrey-30: lab(70% 0 0);
  --color-mygrey-40: lab(60% 0 0);
  --color-mygrey-50: lab(50% 0 0);
  --color-mygrey-60: lab(40% 0 0);
  --color-mygrey-70: lab(30% 0 0);
  --color-mygrey-80: lab(20% 0 0);
  --color-mygrey-90: lab(10% 0 0);
  --color-mygrey-100: lab(0% 0 0);
}

* {
  font-family: "Saira", sans-serif;
  box-sizing: border-box;
}

/************************** BODY IMAGE **************************/
body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.4s ease-in-out;
}




/************************** MAIN **************************/
main {
  background-image: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,0.0));
  padding-bottom: 120px;
}
h1 {
  font-size: .9rem;
  font-weight: 500;
  color: var(--color-mygrey-70);
  text-align: center;
  margin: 0;
  padding: 2rem 0 0 0;
  span {
    display: block;
    font-size: 1.6rem;
    color: var(--color-secondary);
  }
}
  p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }




/************************** CURRENT WEATHER **************************/
.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.current h2 {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  padding-top: 2rem;
  color: var(--color-primary);
}
.current div {
  font-size: 5rem;
  font-weight: 200;
  color: var(--color-mygrey-0);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.wcard {
  width: 96vw;
  text-align: center;
  padding: .5rem;
  border-radius: 10px;
  background-color:  rgba(0,0,0,0.4);
}
.wcard img {
  width: 60px;
  height: auto;
  background-color: var(--color-accent);
  border-radius: 99px;
  border:3px solid var(--color-mygrey-10);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.wcard p {
  text-transform: capitalize;
  font-weight: 400;
  color:var(--color-mygrey-5);
  padding: .25rem;
}


/************************** NAVIGATION **************************/
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 4px;
  gap: 4px;
}

nav button {
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.2);;
  font-size: .8rem;
  color: var(--color-mygrey-10);
  border-radius: 4px;
  padding: 9px 2px;
}

nav span {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .6rem;
  color: var(--color-mygrey-20);
}
